<div class="Form">
  <%= form_for :session, url: session_path, class: "Form" do |form| %>
    <div class="InputGroup">
      <%= form.label :email, class: "InputLabel" %>
      <%= form.text_field :email, type: 'email', class: "InputField" %>
    </div>

    <div class="InputGroup">
      <%= form.label :password, class: "InputLabel" %>
      <%= form.password_field :password, class: "InputField" %>
    </div>

    <%= form.submit :class => "Button Button-isPrimary"  %>

    <div class="other-links">
      <%= link_to t(".forgot_password")%>
    </div>
  <% end %>
</div>
