<h1><%= @league.name %></h1>

<h3>LeaderBoard</h3>
<ul>
    <% @league.scores.each do |score| %> 
        <li><%= score[:user][:name] %> - <%= score[:total] %></li>
    <% end %>
</ul>

<h3>Games</h3>
<ul>
    <% @league.games.each do |game| %>
        <li>
            <%= game.player1.name %> VS <%= game.player2.name %> |
            <% if game.winner %>
                <strong><%= game.winner.name %> Won!</strong>
            <% else %>
                <strong> Game has not been played yet </strong>            
            <% end %>
        </li>
    <% end %>
</ul>