<% if @league.archived then %>
    <div>
        <strong>This league has been archived</strong>
    </div>
<% end %>

<h1><%= @league.name %></h1>
<h2>Owned by <%= @league.owner.name %></h2>

<div>
    <%= link_to "Archive League", league_archive_path(@league) %>
    <%= link_to "Close League", league_close_path(@league) %>
</div>

<hr />

<h3>LeaderBoard</h3>

<ul>
    <% @league.scores.each do |score| %> 
        <li><%= score[:user][:name] %> - <%= score[:total] %></li>
    <% end %>
</ul>

<h3>Games</h3>
<ul>
    <% @league.games.each do |game| %>
        <li>
            <%= game.player1.name %> VS <%= game.player2.name %> |
            <% if game.winner %>
                <strong><%= game.winner.name %> Won!</strong>
            <% else %>
                <strong> Game has not been played yet </strong>            
            <% end %>
        </li>
    <% end %>
</ul>