<% if @league.owner === current_user %>
    <div class="Tools">
        <%= link_to "Archive League", league_archive_path(@league), class: "Button Button-isPrimary"  %>
        <%= link_to "Close League", league_close_path(@league), class: "Button Button-isPrimary" %>
    </div>
<% end %>

<% if @league.winner %>
<div>
    <h1><%= @league.winner.name %> is the winner</h1>
</div>
<% end %>


<section class="Row">
    <h2>LeaderBoard</h2>
    <ul class="ScoreBoard">
        <% @league.scores.each_with_index do |score, index| %> 
            <li class="ScoreBoardPlayer">
                <span class="ScoreBoardPosition"><%= index + 1 %></span>
                <h4 class="ScoreBoardName"><%= score[:user][:name] %></h4>
                <span class="ScoreBoardScore"><%= score[:total] %> pts</span>
            </li>
        <% end %>
    </ul>
</section>

<section class="Row">
    <h2>Games</h2>

    <% if @league.owner === current_user %>
        <div class="Tools">
            <%= link_to "Create a new game", new_league_game_path(@league), class: "Button Button-isPrimary" %>
        </div>
    <% end %>

    <section class="Games">
        <% @league.games.each do |game| %>
            <article class="Game">
                <div class="UserCard">
                    <header class="UserCardHeader">
                        <%= image_tag  "avatar" %>
                        <% if game.winner and game.winner != game.player1 then %>
                            <%= image_tag "cross", class: "UserCardCross" %>
                        <% end %>
                    </header>
                    <section class="UserCardBody">
                        <%= game.player1.name %>
                    </section>
                </div>
                
                <span class="Vs">VS</span>

                <div class="UserCard">
                    <header class="UserCardHeader">
                        <%= image_tag  "avatar" %>
                        <% if game.winner and game.winner != game.player2 %>
                            <%= image_tag "cross", class: "UserCardCross" %>
                        <% end %>
                    </header>
                    <section class="UserCardBody">
                        <%= game.player2.name %>
                    </section>
                </div>
            </article>
        <% end %>
    </section>
</section>