<h1><%= @game.player1.name %> vs <%= @game.player2.name %></h1>

<% if @game.winner then %>
    <h3><%= @game.winner.name %> is the winner!</h3>
<% else %>

    <% if @game.league.owner === current_user then %>
        <article class="Game" style="width:100%; margin: 0 auto;">
            <div class="UserCard">
                <header class="UserCardHeader">
                    <%= image_tag  "avatar" %>
                </header>
                <section class="UserCardBody">
                    <%= @game.player1.name %>
                </section>

                <footer class="UserCardFooter">
                    <br />
                    <%= link_to "Assign the win!", league_game_player1_won_path(@game.league, @game), class: "Button" %>
                </footer>
            </div>

            <span class="Vs">VS</span>

            <div class="UserCard">
                <header class="UserCardHeader">
                    <%= image_tag  "avatar" %>
                </header>
                <section class="UserCardBody">
                    <%= @game.player2.name %>
                </section>
                <footer class="UserCardFooter">
                    <br />
                    <%= link_to "Assign the win!", league_game_player2_won_path(@game.league, @game), class: "Button" %>
                </footer>
            </div>
        </article>
    <% end %>
<% end %>