<h1><%= @game.player1.name %> vs <%= @game.player2.name %></h1>

<% if @game.winner then %>
    <h3><%= @game.winner.name %> is the winner!</h3>
<% else %>
    <h3>Who won?</h3>
    <%= link_to "#{@game.player1.name}", league_game_player1_won_path(@game.league, @game) %>
    <br />
    <%= link_to "#{@game.player2.name}", league_game_player2_won_path(@game.league, @game) %>
<% end %>