<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,900|Alegreya:400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <%= csrf_meta_tag %>
</head>
<body class="MainLayout">
  <%= render partial: "shared/navigation" %>
  
  <header id="header">
    <h1><%= @title %></h1>
  </header>

  <main id="main">
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </main>

  <footer id="footer">
    <span>Made with ❤️ by <a href="https://jonjoe.io"> Jonjoe Whitfield</a><span>
  <footer>
</body>
</html>
